html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Avenir Next', sans-serif !important; /* Usamos Avenir Next para todo el cuerpo */
}

/* Definir las fuentes personalizadas (Lt Aspire) */
@font-face {
    font-family: 'Lt Aspire';
    src: url('../fuentes/LTAspirerNeue-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lt Aspire';
    src: url('../fuentes/LTAspirerNeue-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Lt Aspire';
    src: url('../fuentes/LTAspirerNeue-Extrablack.otf') format('opentype');
    font-weight: bolder;
    font-style: normal;
}

/* Definir la fuente Avenir Next */
@font-face {
    font-family: 'Avenir Next';
    src: url('../fuentes/AvenirNextLTPro-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('../fuentes/AvenirNextLTPro-It.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('../fuentes/AvenirNextLTPro-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

/* Títulos con LtAspirer */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Lt Aspire', sans-serif !important;
}

.Inicio{
    background: linear-gradient(rgba(5, 7, 12, 0.4), rgba(5, 7, 12, 0.3)), url(../imagenes/Imgcom/Fondo\ carro.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Inicio h2{
   font-size: 80px;
   color: white;
   margin-bottom: 30px;
}

.Inicio h3{
    color: white;
    margin-bottom: 20px;
 }

.img-custom {
    width: 100%; /* Se adapta al tamaño de la columna */
    height: 180px; /* Altura fija */
    object-fit: cover; /* Ajusta la imagen para que rellene el espacio definido */
    border-radius: 8px; /* Bordes redondeados opcionales */
  }

  .Inicio button {
    background-color: #000;
      color: #fff;
      border: none;
      padding: 15px 30px;
      font-size: 18px;
      cursor: pointer;
      border-radius: 25px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
      transition: background-color 0.3s ease, transform 0.3s ease;
      margin-top: 10px; /* Añade un margen superior para separarlo de la imagen */
      display: block; /* Esto asegura que el botón tome todo el ancho disponible */
      width: calc(100% - 40px); /* Ajusta el ancho del botón */
      max-width: 300px; /* Limita el ancho máximo del botón */
      margin-left: auto;
      margin-right: auto;
      margin-top: 40px;
  }

  .Inicio button:hover {
    background-color: #333;
      transform: translateY(-3px);
  }

  @media (max-width: 768px) {
      .Inicio{
          height: auto;
      }
      .Inicio h2{
        font-size: 60px;
        color: white;
     }
     
  }

  /* Estilo para la sección de la empresa */
/* Estilo para la sección de la empresa */
/* Estilo para la sección de la empresa */
/* Estilo para la sección de la empresa */
.about-us {
    background-color: #393C43; /* Fondo suave y oscuro */
    color: #EAEAEA; /* Texto claro para buena legibilidad */
    padding: 60px 20px;
    text-align: center;
    line-height: 1.6;
}

.about-us h2 {
    font-size: 2.5rem;
    color: #fff; /* Color destacado para el título */
    margin-bottom: 25px;
}

.about-us p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    max-width: 100%; /* Asegura que el párrafo ocupe el máximo ancho disponible */
    width: 100%;
}

.about-us h3 {
    font-size: 1.8rem;
    color: #9699a0; /* Subtítulo con color más suave */
    margin-top: 40px;
    margin-bottom: 20px; /* Sombra sutil */
}

.about-us ul {
    list-style: none;
    padding: 0;
    font-size: 1.1rem;
    max-width: 100%; /* Asegura que la lista ocupe el máximo ancho disponible */
    margin-left: auto;
    margin-right: auto;
}

.about-us ul li {
    background-color: #6A4B4F; /* Fondo más suave para los ítems */
    color: #EAEAEA; /* Texto claro en los ítems */
    margin: 12px 0;
    padding: 15px;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.about-us ul li:hover {
    background-color: #787B84; /* Fondo al hacer hover */
    color: #fff; /* Texto blanco al hacer hover */
    transform: translateY(-5px); /* Efecto de movimiento al pasar el mouse */
}

/* Contenedor para que ocupe más espacio */
.about-us .container {
    width: 90%; /* Ancho más grande para el contenedor */
    max-width: 1200px; /* Máximo ancho para evitar que se estire demasiado en pantallas grandes */
    margin: 0 auto; /* Centrado */
    padding: 0 20px;
}


.carousel-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 750px;
    position: relative;
}

.carousel-title {
    position: absolute;
    top: 2px; /* Ajusta esta distancia según prefieras */
    left: 50%;
    transform: translateX(-50%);
    font-size: 36px;
    color: white;
    z-index: 2;
    font-family: Arial, sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Sombra para que se lea mejor sobre la imagen */
}

.carousel-image {
    width: 100%;
    height: 100%;
}

.carousel-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-arrow {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    z-index: 10;
    padding: 10px;
    transition: background-color 0.3s ease;
}

.carousel-arrow:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.left-arrow {
    position: absolute;
    left: 10px;
}

.right-arrow {
    position: absolute;
    right: 10px;
}

.car-carousel h2 {
    text-align: center;
    font-size: 32px;
    color: white; /* Puedes cambiar el color según el diseño */
    margin-bottom: 20px;
    font-family: 'Lt Aspire', sans-serif;
}

@media (max-width: 768px) {
    .carousel-title{
        margin: 0;
        width: 100%;
    }
    .carousel-container {
        height: auto;
    }

    .Inicio button{
        margin-bottom: 15px;
    }

    .Inicio h2{
        margin-top: 10px;
        font-size: 40px;
        margin-bottom: 10px;
     }
     
     .Inicio h3{
        font-size: 20px;
        margin-bottom: 10px;
      }

  }

  #reviewsList h3 {
    color: white;
    margin:25px;
    font-size: 40px;
} 
#reviewsList {
    padding: 10px;
    background: #6A4B4F;  /* fallback for old browsers */
}
#reviewsList div {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}
#reviewsList div strong {
    font-size: 18px;
    color: black;
}

#reviewsList button{
    background-color: #333;
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-top: 10px; /* Añade un margen superior para separarlo de la imagen */
    display: block; /* Esto asegura que el botón tome todo el ancho disponible */
    width: calc(100% - 40px); /* Ajusta el ancho del botón */
    max-width: 300px; /* Limita el ancho máximo del botón */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

#reviewsList button:hover {
  background-color: rgb(95, 93, 93);
    transform: translateY(-3px);
}