html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Avenir Next', sans-serif !important; /* Usamos Avenir Next para todo el cuerpo */
    background-color: #352425 !important;
}

/* Definir las fuentes personalizadas (Lt Aspire) */
@font-face {
    font-family: 'Lt Aspire';
    src: url('../fuentes/LTAspirerNeue-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lt Aspire';
    src: url('../fuentes/LTAspirerNeue-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Lt Aspire';
    src: url('../fuentes/LTAspirerNeue-Extrablack.otf') format('opentype');
    font-weight: bolder;
    font-style: normal;
}

/* Definir la fuente Avenir Next */
@font-face {
    font-family: 'Avenir Next';
    src: url('../fuentes/AvenirNextLTPro-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('../fuentes/AvenirNextLTPro-It.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('../fuentes/AvenirNextLTPro-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

/* Títulos con LtAspirer */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Lt Aspire', sans-serif !important;
}

.card{
    transition: transform 0.3s ease-in-out;
}
.card:hover{
    transform: scale(1.1);
}

#contactForm {
    pointer-events: auto !important;    
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    z-index: 9999 !important; /* Asegura que esté encima de otros elementos */
    overflow: auto; /* Permite desplazarse si el contenido es muy largo */
}
.form-header{
    display: flex;
    justify-content: space-between;
}

/* Contenedor del formulario */
.form-container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    max-height: 90vh; /* Evita que el formulario sea más alto que la pantalla */
    overflow-y: auto; /* Permite desplazarse dentro del formulario si es necesario */
}
.form-container h3{
    font-size: 20px;
    color: #000;
    font-weight: bold;
}
.form-container label{
    color: #000;
}
/* Asegurarse de que los campos estén bien alineados */
.form-container label, input{
    width: 100%;
    margin: 5px;
}

input[type="text"] {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 6px;
    margin: 10px 0;
    outline: none;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

/* Cambia el color del borde al enfocar */
input[type="text"]:focus {
    border-color: #1F2023;
    box-shadow: 0 0 5px rgba(31, 32, 35, 0.3);
}

.close-icon {
    background-color: red;
    color: white;
    font-size: 14px;
    padding: 8px 12px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.close-icon:hover {
    background-color: rgb(241, 126, 126);
}

input[type="submit"] {
    background-color: #1F2023;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 10px;
}

input[type="submit"]:hover {
    background-color: #393C43;
    color:white;
}

/* Ajustes específicos para móviles */
@media (max-width: 600px) {
    .form-container {
        padding: 15px;
        max-width: 90%;
        width: 90%;
        max-height: 80vh; /* Ajuste para pantallas más pequeñas */
    }
}

input[type="checkbox"] {
    accent-color: #f44336; /* Cambia el color del checkbox */
    width: 20px; /* Ajusta el tamaño */
    height: 20px; /* Ajusta el tamaño */
    margin-right: 10px; /* Espacio entre el checkbox y la etiqueta */
}
form label {
    display: flex;
    align-items: center; /* Alinea verticalmente */
}

.errorform {
    color: red;
    font-size: 0.9em;
    display: block;
}
.btn-container {
    display: flex;
    justify-content: center; /* Centra el botón horizontalmente */
    align-items: center; /* Centra el botón verticalmente si es necesario */
    margin-top: 20px; /* Espacio superior */
}

.btn-container button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 20px 40px; /* Aumenta el espacio alrededor del texto */
    font-size: 22px; /* Texto más grande */
    cursor: pointer;
    border-radius: 30px; /* Bordes aún más redondeados */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3); /* Sombra más intensa */
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-top: 20px; /* Ajuste en el margen */
    display: block;
    width: calc(100% - 20px); /* Más ancho */
    max-width: 400px; /* Mayor tamaño máximo */
    margin-left: auto;
    margin-right: auto;
}

.btn-container button:hover {
    background-color: #333;
    transform: translateY(-5px); /* Mayor efecto al pasar el mouse */
}
