html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Avenir Next', sans-serif !important; /* Usamos Avenir Next para todo el cuerpo */
    background-color: #6A4B4F;
}

/* Definir las fuentes personalizadas (Lt Aspire) */
@font-face {
    font-family: 'Lt Aspire';
    src: url('../fuentes/LTAspirerNeue-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lt Aspire';
    src: url('../fuentes/LTAspirerNeue-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Lt Aspire';
    src: url('../fuentes/LTAspirerNeue-Extrablack.otf') format('opentype');
    font-weight: bolder;
    font-style: normal;
}

/* Definir la fuente Avenir Next */
@font-face {
    font-family: 'Avenir Next';
    src: url('../fuentes/AvenirNextLTPro-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('../fuentes/AvenirNextLTPro-It.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('../fuentes/AvenirNextLTPro-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

/* Títulos con LtAspirer */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Lt Aspire', sans-serif;
}

form {
    background-color: #1F2023;
    padding: 40px;
    margin: 20px auto;
    width: 80%;
    max-width: 800px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
    color: white;
}
form label {
    font-weight: bold;
    color: white;
    display: block;
    margin-top: 20px;
}
form input[type="text"]{
    width: 97%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: none;
    border-bottom: 2px solid white;
    background-color: transparent;
    color: white;
    outline: none;
}
form select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: none;
    border-bottom: 2px solid white;
    background-color: transparent;
    color: white;
    outline: none;
}
form input[type="text"]::placeholder {
    color: #ddd;
}
form input[type="submit"] {
    background-color: #0782fa;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    display: block;
    margin: 30px auto 0;
    width: 50%;
    text-align: center;
}

form input[type="submit"]:hover {
    background-color: #6f45bd;
}
option{
    background-color: #000;
    color: white;
}

.errorform {
    color: red;
    font-size: 0.9em;
}